/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color);
  background-image: var(--background-photo);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.rec {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13px;
  right: 25px;
  color: var(--rec-color);
  gap: 10px;
  font-size: 18px;
}

.rec:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--rec-color);
  border-block-start: 1px solid var(--rec-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--rec-color);
  border-block-end: 1px solid var(--rec-color);
}

.header__theme-menu {
  height: max-content;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  border-block-end: 1px solid transparent;
  color: var(--nav-text-color);
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-text-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--nav-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-text-color);
}

.header__text {
  color: var(--header-footer-text-color);
  font-size: var(--header-text-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.title-decor {
  height: max-content;
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
  padding: 40px 10px;
}

.title {
  color: var(--title-text-color);
  font-size: 18px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 20px;
}

.text-block-description {
  color: var(--text-block-color);
  font-size: 18px;
  line-height: 23.4px;
}

.text-block-description a {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.text-block-description a:hover {
  border-block-end: 1px solid var(--text-block-color);
}

.text-block-description a:focus {
  outline: none;
}

.text-block-description a:focus-visible {
  border: 1px solid var(--text-block-color);
}
.section.full-width .text-block {
  flex: 1 1 100%;
}

.subtitle {
  margin-block-start: 20px;
}

.small {
  font-weight: 300;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 10px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--rec-color);
  border-block-start: 1px solid var(--rec-color);
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--rec-color);
  border-block-end: 1px solid var(--rec-color);
}

.footer__text {
  color: var(--header-footer-text-color);
  font-size: var(--header-text-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--shadow-text-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .rec {
    top: 21px;
    right: 28px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__text {
    margin-left: -20px;
    font-size: var(--header-text-size);
  }

  .header-text-block {
    justify-self: end;
    align-self: center;
    max-inline-size: 365px;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .section {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-areas: "title text-block";
    gap: 20px;
  }

  .title {
    grid-area: title;
  }

  .block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text-block {
    grid-area: text-block;
    padding-block-start: 0;
  }

  .full-width {
    display: flex;
    flex-direction: column;
  }

  .full-width .title {
    max-width: min-content;
  }

  section.full-width .text-block {
    flex: 1 1 calc(50% - 20px); 
  }

  .subtitle {
    margin-block-start: 0;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-block-start: 20px;
  }

  img {
    width: 100%;
  }

  .image:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .image:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .image:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .image:nth-child(4) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .image:nth-child(5) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer__text {
    margin: 0px;
    text-shadow: 2px 2px 0px var(--shadow-text-color);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
  }

  .header__text {
    font-size: var(--header-text-size);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header-text-block {
    max-inline-size: 491px;
  }

  .section {
    grid-template-columns: 315px 1fr;
  }

  .full-width {
    display: flex;
    flex-direction: column;
  }

  .full-width .title {
    min-inline-size: 315px;
  }

  .full-width .block {
    display: flex;
    flex-direction: row;
  }

  .text-block {
    flex: 1;
  }

  .section.full-width .block {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  
  .section.full-width .text-block {
    flex: 1 1 calc(33.333% - 20px); 
    box-sizing: border-box; 
  }

  .images {
    width: 100%;
    height: 100%;
  }

  .footer__text {
    text-shadow: 2px 2px 0px var(--shadow-text-color);
  }
}
