/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --nav-text-color: #ff0070;
  --nav-text-color-rgb: 255, 0, 112;
  --accent-color: #ff0070;
  --header-footer-text-color: #db00ff;
  --rec-color: #ff0070;
  --title-text-color: #ff0070;
  --text-color: #000028;
  --text-block-color: #f1b2ce;
  --background-color: #000028;
  --shadow-text-color: #ff0070;

  --background-photo: url(../images/cover-image-dark.png);
  --header-text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
   --header-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}